<h1 class="heading">{{title}}</h1>
<!-- multiple condition or else if  -->
<h1 >{{title1}}</h1>

<ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">Green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">Blue Color</h1>
</ng-template>


<!-- <app-login></app-login>
<style>
  .heading{
    color: blue;
  }
</style> -->
<!-- <app-login></app-login> -->