<h1>{{title}}</h1>
<!-- 
<form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)>
   #value replace controls -->
  <!-- <input type="text" placeholder="Enter Name" name="name" ngModel>
  <br><br>
  <input type="password" placeholder="Enter Password" name="password" ngModel>
  <br><br>
  <button>Login</button>
</form>  -->

<!-- <button (click)=userLogin(loginForm.value)>Out Side Login</button> -->


<!-- 2nd method -->
<h1>{{title1}}</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="Enter Name" name="user" formControlName="user">
  <br><br>
  <input type="password" placeholder="Enter Password" name="password" formControlName="password" />
  <br /><br />
  <button>Login</button>

</form>